@import 'variavel.scss';


.container{

    .titlio-oferta{
        background: $color-second;
        padding: 17px;
        font-size: 25px;
        color: #fff;
        font-weight: 700;
    }

    .container-produto-filtro{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
    }
    
    #filtro{
        width: 300px;
        height: 100%;
        border: none;
        border-radius:  0;
        padding: 16px;
        font-size: 15px;
        font-weight: 800;  

        .titulo-filtro{
            color: #42464D;
            font-family: Arial, Helvetica, sans-serif;
        }
        .checkeds{
            margin-top: 10px;
            .form-check-label{
                font-weight: 300;
            }
        }
    }
    #produtos{
        width: 100%;
        // margin: 0 10px 0 0;
    }
    // #filtro{
    //     border: 1px solid black;
    // }

    
}
