@import 'variavel.scss';
@import 'fontes.scss';

.container-perfil{
    background: #fff;
    padding: 20px;

    .container-perfil{
        display: inline-block;
        border-radius: 5px;
        padding: 5px;

        img{
            width: 100px;
        }
    }

    .container-information{
        margin-left: 17px;
        display: inline-block;
       
        .nome{
            font-weight: 700;
            font-size: 26px;
            color: $color-black;
        }
        .email{
            font-size: 15px;
        }
    }

    .container-cong{
        cursor: pointer;
        display: inline-block;
        margin-left: 25px;
        li{
            font-size: 23px;
            color: $color-primary;
        }
    }
}

.titulo{
   
    margin-bottom: 5px;
    li{
        list-style: none;
        display: inline-block;
    }
    span{
        margin-left: 10px;
    }
}

.container-resumo-pedido{
    padding: 20px ;
    background: #fff;
  
    .container-informacao_v1{
        columns: 4;
        font-family: 'Poppins-Medium';
        .colunas{
            .titulo-pedido{
                font-weight: 900;
                color: $color-black;
                margin-bottom: 20px;
            }

            #status-pedido{
                font-weight: 800;
                color: #2DC26E;
              
            }
        }
    }

    .container-endereco{
        margin-top: 30px;
        columns: 2;
       
        .colunas{
            
            color: $color-black;
            margin-bottom: 20px;

            .titulo-pedido{
                font-weight: 900;
                font-family: 'Poppins-Medium';
            }
            .endereco:nth-child(2){
                color: gray;
                font-weight: 400;
            }

            .status-gfl{
                font-family: 'Poppins-Medium';
                font-weight: 800;
                color: red;
            }
        }
    }
}