<div class="container-perfil">
    <div class="container-perfil">
        <img src="/assets/img/perfil.jpg" alt="">
    </div>
    <div class="container-information">
        <div class="nome">Olá, Pedro Henrique</div>
        <div class="email">pedro6489@gmail.com</div>
    </div>
    <div class="container-cong">
        <li class="fas fa-cog"></li>
    </div>
</div>

<br>
<div class="titulo">
    <li class="bi bi-box2"></li>
    <span>RESUMO DO SEU ÚLTIMO PEDIDO</span>
</div>
<div class="container-resumo-pedido">
    <div class="container-informacao_v1">
        <div class="colunas">
            <div class="titulo-pedido">Numero do pedido</div>
            <div class="codigo">#1</div>
        </div>
        <div class="colunas">
            <div class="titulo-pedido">Status</div>
            <div class="codigo">Concluído</div>
        </div>
        <div class="colunas">
            <div class="titulo-pedido">DATA</div>
            <div class="codigo">11/01/2023</div>
        </div>
        <div class="colunas">
            <div class="titulo-pedido">PAGAMENTO</div>
            <div class="codigo">PIX</div>
        </div>
    </div>
</div>