<app-header></app-header>
<div class="container mt-5">
    <div class="row">
        <div class="col-2" id="menu-opcoes">
            <nav>
                <ul>
                    <li routerLink="inicio" routerLinkActive="activate"><span class="bi bi-house" ></span>Inicio</li>
                    <li routerLink="meus-dados" routerLinkActive="activate"><span class="bi bi-person-circle"></span> Meus dados</li>
                    <li> <span class="bi bi-box2"></span>Meu Box</li>
                    <li (click)="sair()"> <span class="bi bi-box-arrow-left"></span>sair</li>
                </ul>
            </nav>
        </div>
        <div class="col" id="container-view">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<app-footer></app-footer>