<footer>
    <div class="container">
        <img src="/assets/img/licute-back-branco.svg">
        <div class="row">
            <div class="col-3 mt-4" id="col-1">
                <h6>contato</h6>
                <div class="info mb-2"><li class="fab fa-whatsapp"></li>(86)9 95747604</div>
                <div class="info"><li class="fab fa-instagram"></li> <a href="" class="link-insta">@licuteearte</a></div>
            </div>
            <div class="col-3 mt-4">
                <h6 class="text-white">Institucional</h6>
                <div class="text-white">Quem somos</div>
                <div class="text-white">Fale conosco</div>
                <div class="text-white">onde encontrar</div>
            </div>
            <div class="col mt-4">
                <h6>Políticas do site</h6>
                <div class="text-white">Pagamento</div>
                <div class="text-white">Garantia</div>
                <div class="text-white">Privacidade</div>
                <div class="text-white">Troca e devolução</div>
            </div>
        </div>
    </div> 
    
</footer>
<div class="gb-light w-100 p-2" style="background: #fff;">
    <div class="container">
        <div class="row">
            <div class="col">
                Licute & Arte Ltda - CNPJ: 00.000.000/0000-00 - IE: 0000000000
            </div>
        </div>
    </div>  
</div>