<div id="caixa-superior"></div>
    <div id="superior">
      <img [routerLink]="['']" src="/assets/img/logo_branco.gif" width="200px" id="logo-ecommercer">
      <li id="ibars" class="fas fa-bars"></li>
      <div id="container-buscador">
        <input type="text" placeholder="O que você procura ?">
        <li id="isearch" class="fas fa-search"></li>
      </div>
      <div routerLink="/acesso" id="container-singin">
        <div>Olá :)</div>
        <a routerLink="login">Entre ou Cadastra-se</a>
      </div>
      <div id="container-opcoes">
        <button id="favorito"><img src="/assets/img/coracao-fav.svg">Favorito</button>
        <button id="box"> <img src="/assets/img/box.svg"> Box</button>
      </div>
    </div>
    <div id="sub-menus">
      <div class="container devider">
          <!--<div class="container-mais-opcoes">
            <li class="fas fa-bars"></li>
              Menu
               <div class="container-categiras"></div> 
            </div>-->
          <a href="#">Chaveiros</a>
          <a href="#">Porta retrato</a>
      </div>
</div>