
    <div id="superior">
      <img [routerLink]="['']" src="/assets/img/logo_branco.gif" width="200px" id="logo-ecommercer">
      <li id="ibars" class="fas fa-bars"></li>
      <div id="container-buscador">
        <input type="text" placeholder="O que você procura ?">
        <li id="isearch" class="fas fa-search"></li>
      </div>
      
      <div *ngIf="!isLogado" id="container-singin">
        <div>Olá :)</div>
        <a routerLink="/acesso">Entre ou Cadastra-se</a>
      </div>

      <div *ngIf="isLogado" id="container-singin">
        <div>Olá :) <strong>{{Usuario.nome.split(' ')[0]}}</strong></div>
        <a routerLink="/meu-acesso">Meu acesso</a>
      </div>

      <div id="container-opcoes">
        <button id="favorito"><div class="indicator">0</div><img src="/assets/img/coracao-fav.svg">Favorito</button>
        <button id="box"> <img src="/assets/img/box.svg"> Box</button>
      </div>
    </div>
    <div id="sub-menus">
      <div class="container devider">
          <!-- <div class="container-mais-opcoes">
            <li class="fas fa-bars"></li>
              Menu
               <div class="container-categiras"></div> 
            </div> -->
          <a href="#" *ngFor="let cate of categoria | slice:0:7" >{{cate.nome}}</a>
          <!-- <a href="#">Porta retrato</a>
          <a href="#">Porta retrato</a>
          <a href="#">Porta retrato</a>
          <a href="#">Porta retrato</a>
          <a href="#">Porta retrato</a>
          <a href="#">Porta retrato</a> -->
      </div>
</div>