.container{
    
    .titulo-departamento{
        .card{
            height: 150px;
            border: none;
            padding: 10px;
    
            .kl1{
                height: 130px;
                border-radius: 5px;
            }
       }
    }

    .departamento-produto{
        // display: flex;
        // justify-content: center;
        // align-items: center;
        .card-produto{
            width: 20%;
            padding: 20px;
            // margin: 0 5px;
            margin: 3px;
            height: 300px;
            border: none;

        }
    }
}