.container-aviso{
    background: #fff;
    width: 98%;
    height: 117px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    // margin: 0 10px;
}