<app-header></app-header>
<!-- <app-indice-pagina [pagina]=""></app-indice-pagina> -->
<app-show-frete [isModalCep]="isModal" (isCloseModel)="hiddenModal()" [animate]="nameNimate" ></app-show-frete>

<ng-template [ngIf]="detalhe != undefined">

    <div class="container mt-5">
        <div class="row">
            <div class="col-6 container-image-p">
                <div class="row">
                    <div class="card container-v-imagem">
                        <img class="animate__animated animate__fadeIn" src="{{this.setImagem}}" crossorigin="anonymous">
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="card min-imagens">
                        <img *ngFor="let image of ImagemArry" (click)="mudarImagem($event)" src="{{urlbaseImagem}}/upload/{{image.img}}" crossorigin="anonymous">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container-detalhes">
                    <div class="row">
                        <div class="titulo-detalhe">
                            <h4>{{detalhe.nome}}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container-preco">
                            <span class="preco-unidade h5">R$ {{detalhe.preco}}</span>
                            <span class="preco-unitario">(Preço unitario)</span>
                        </div>
                        <div class="quantidadeMin mt-2">
                            Quantidade mínima: <a>{{detalhe.qtd_min}} unidades</a>
                        </div>
                        <div class="preceoqtd">
                            <div class="aviso-qtd">Preço total da quantidade mínima: </div>
                            <div class="preco h3">R${{detalhe.precoTotalQtdMin}}</div>
                        </div>
                        <div class="parcelamento">
                            <span class="bi bi-credit-card-2-back-fill incone-card"></span>
                            <span class="parce">12x de R$ 0,00 sem juros</span>
                        </div>
                        <div class="container-button mt-4">
                            <button class="btn add-carrinho"><li class="fas fa-shopping-cart"></li> Adicionar ao Box</button>
                            <button class="btn favorito"> <li class="far fa-heart"></li></button>
                        </div>
    
                        <div class="descricao-produto mt-3">
                            Feito por encomenda
                        </div>
                        <div class="descricao-produto mt-2">
                            <strong>10</strong> dias úteis para produção
                        </div>
                    </div>
                </div>
                
                <div class="container-frete mt-2 p-4">
                    <div class="tituli-frete">Consultar frete e prazo de entrega</div>
                    <div class="container-input-button mt-2 d-flex">
                        <div class="container-legenda w-100">
                            <input (keydown)="onKeyDown($event)" (keyup)="keyUpGetCep($event)" type="text" [value]="cep" [class.erro]="isErro" class="form-control" placeholder="Inserir CEP">
                            <!-- <div class="mt-2 text-danger">O campo está vazio</div> -->
                            <div class="alert alert-danger mt-4" *ngIf="isErro">O campo está vazio</div>
                        </div>
                        <app-button (EventClick)="showModal()" ></app-button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 container-descricao">
            <div class="card">
                <h5>Descrição</h5>
                <div class="descricao mt-3">
                    DESCRIÇÃO DO PRODUTO
                </div>
    
                <div class="destalhe-descricao mt-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rutrum orci non velit rutrum suscipit. Sed vel felis magna. Aliquam eleifend augue in turpis lacinia porttitor. Aenean dapibus consequat est, id dapibus leo dapibus a. Nullam placerat, sem et suscipit suscipit, est enim consectetur ex, vitae varius enim leo vitae nisl. Fusce ut nulla enim. Praesent a fermentum magna, at tincidunt nibh. Aliquam sed luctus orci, in rutrum felis. Vivamus cursus augue vel ligula luctus, sit amet pretium orci tempus. Vivamus risus dui, auctor suscipit turpis eget, viverra volutpat diam.
                    Proin congue velit orci, sit amet facilisis dui aliquam eget. Vestibulum viverra mi nec placerat iaculis. Sed id purus et lorem elementum bibendum. Sed tristique, nisi at condimentum viverra, nunc augue mattis est, quis lobortis felis velit semper elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id fermentum ex, nec commodo lectus. Fusce tempor felis non mauris posuere rhoncus. Phasellus leo erat, dictum sed orci nec, volutpat eleifend diam. Morbi gravida condimentum mattis. Sed tempor consequat enim sed feugiat. Integer ex odio, semper et fermentum bibendum, cursus ut turpis. Nunc magna dui, ornare sit amet felis nec, vestibulum consequat purus. Proin vel sagittis enim. Nulla sit amet consequat sapien, sed mattis lorem.
                    Suspendisse potenti. Fusce eu enim ac risus aliquet auctor. Phasellus vitae felis facilisis, fermentum massa ac, semper felis. Proin in ornare velit. Vivamus sodales mi vitae ex auctor, nec ultricies quam hendrerit. Fusce egestas commodo purus, eu gravida dui mattis ac. Praesent et ex sodales, feugiat diam sit amet, malesuada metus. Phasellus posuere felis neque, at vulputate tortor volutpat sed. Etiam eget risus eu mi lacinia fermentum a sit amet arcu. Nullam luctus neque sit amet justo scelerisque mattis. Integer vitae dictum mi.
                </div>
            </div>
        </div>
    </div>

</ng-template>


<app-footer></app-footer>