@import 'variavel.scss';

.page{
    padding: 10px;
    border-top: 1px solid rgb(223, 223, 223);
    border-radius: 0;
    // border: none;
}

.container{
    padding: 0 100px;
    .card{
        border: none;
        border-radius: 2px;
    }

    .container-v-imagem{
        padding: 30px;
    }
    .container-image-p{
        margin-right: 10px;
        .min-imagens{
            position: relative;
            // display: flex;
            // justify-content: flex-start;
            // align-items: center;
            // flex-direction: row;
            // padding: 10px;
            display: block;
            // overflow: hidden;
            img{
                margin-top: 10px;
                margin-right: 10px;
                margin-bottom: 10px;
                // margin: 6px 2px;
                float: left;
                display: block;
                width: 127px;
            }

            .next-img{
                position: absolute;
                z-index: 2;
                top: 0;
                right: 0;
                transform: translateX(-10px)translateY(50px);
                background: #fff;
                border-radius: 150px;
                display: flex;
                justify-content: center;
                align-items: center;

                li{
                    color: $color-primary;
                    font-size: 30px;
                }
            }
        }
    }

    .container-precos{
        .card{
            padding: 20px;
        }

        .preco{
            font-weight: 700;
            color: $color-primary;
        }
        .container-button{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            button{
                padding: 10px 20px;
            }
            .favorito{
                margin-right: 20px;
                width: 50%;
            }
            .add-carrinho{
                width: 50%;
                color: #fff;
                background: $color-primary;
            }
        }
        .parcelamento{
            font-size: 12px;
            color: gray;
        }
        
    }

    .container-detalhes{
        .titulo-detalhe{
            padding: 20px 15px;
            h4{
                font-weight: 700;
            }
        }
    }

    .container-descricao{
        .card{
            padding: 20px;

            .descricao{
                color: gray;
                font-size: 14px;
            }

            .destalhe-descricao{
                color: gray;
                font-size: 16px;
                font-weight: lighter;
            }
        }
    }

    .container-frete{
        .card{
            position: relative;
            padding: 20px 30px;
           
            .titulo-frete{
                left: 0;
                top: 0;
                transform: translateX(19px) translateY(13px);
                position: absolute;
            }

            #buscar-cep{
                color: $color-primary;
                border: 1px solid $color-primary;

                &:focus{
                    background: $color-primary;
                    color: #fff;
                }
            }
        }
    }
}