<app-header></app-header>
<app-home-page [showLoading]="loading"  ></app-home-page>

<div class="container" *ngIf="catalogos !== undefined" >

    <div *ngFor="let catalogo of catalogos">

        <div class="p-3 mt-5" *ngIf="!catalogo.isbaner">
            <div class="row">
                <div class="titulo">{{catalogo.nome}}</div>
            </div>
            <hr>
        </div>

        <div class="row mt-5" id="container-detaque" *ngIf="catalogo.isbaner">
            <app-baner [InputImagemBaner]="catalogo"></app-baner>
        </div>

        <section *ngIf="!catalogo.isbaner" class="container-card-produto">
        
            <app-produto [inputdados]="catalogo.has" ></app-produto>

        </section>
        
    </div>
</div>
<app-footer></app-footer>