<app-header></app-header>
<app-loading [showLoading]="loading" ></app-loading>

<div class="container" *ngIf="pgPrincipal !== undefined">

    <div class="card p-3 mt-5">
        <div class="row">
            <div class="titulo">{{pgPrincipal.destaques.titulo}}</div>
        </div>
    </div>
    
    <div class="row mt-1" id="container-detaque" >
        <img *ngFor="let ban of pgPrincipal.destaques.bander" [src]="ban.url">
    </div>
    
    <div *ngFor="let departamentos of pgPrincipal.departamentos">
        <div class="card p-3 mt-5">
            <div class="row">
                <div class="titulo d-flex justify-content-between align-items-center">Para enfeitar a sua sala!  <a href="">Ver todos</a></div>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col d-flex">

                <div class="card protudo" *ngFor="let produtos of departamentos.produtos">
                    <div class="container-img">
                        <img [src]="produtos.imagens[0].url">
                    </div>
                    <div class="descricao">Ut placerat gravida placerat</div>
                    <div class="preco mt-1">R$: 1,0</div>
                    <div class="tipo-pagamento">Á vista no Pix</div>
                    <div class="container-avaliacao">
                        <img src="/assets/img/estrela-cheia.svg">
                        <img src="/assets/img/estrela-cheia.svg">
                        <img src="/assets/img/estrela-cheia.svg">
                        <img src="/assets/img/estrela-cheia.svg">
                        <img src="/assets/img/estrela-cheia.svg">
                    </div>
                    <img src="assets/img/fav-not-select.svg" alt="" class="favor">
                </div>

            </div>
        </div>
    </div>
    
</div>


<app-footer></app-footer>