@import 'fontes.scss';
@import 'variavel.scss';

main{
    position: relative;
}

.card{
    border: 1px solid #fff;
}

#container-detaque{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // border: 1px solid red;

    @media (min-width: $breakpoint-tablets) {
        flex-direction: row;
    }
    // border: 1px solid red;
    
    

}
.container-card-produto{

    .protudo{
        width: 20%;
        cursor: pointer;
        position: relative;
        padding:10px 10px 30px 10px;
        display: inline-block; 
        margin: 3px;
        .container-img{
            height: 230px;
            
            
        }
        .descricao{
            margin-top: 10px;
            font-size: 17px;
            font-weight: 700;
            color: #57595e;
            font-family: Arial, Helvetica, sans-serif;
        }
        .preco{
            font-family: 'Roboto-Medium';
            font-size: 20px;
            // font-weight: 400;
            color: $color-second;
        }
        .container-avaliacao{
            img{
                width: 16px;
                margin-right: 5px;
            }
        }
        .tipo-pagamento{
            font-family: 'Poppins-Regular';
            color: #7F858D;
            font-size: 14px;
        }
        .tipo-parcelado{
            font-family: 'Poppins-Regular';
            color: #7F858D;
            font-size: 12px;
        }
        .favor{
            position: absolute;
            width: 50px;
            right: 10px;
            bottom: 0;
            transform: translateX(-10px) translateY(-35px);
        }
        
    }
    
}


#departamentos{
    display: flex;
    justify-content: center;
    align-items: center;
    .card{
        margin: 0 10px;
        float: left;
        width: 10%;
        height: 100px;
    }

    .card:nth-child(1){
        margin-left: 0;
    }
    
    .card:nth-child(4){
        margin-right: 0;
    }
}

.skeleton {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    /* Adicione estilos adicionais conforme necessário */
}