@import 'fontes.scss';
@import 'variavel.scss';

main{
    position: relative;
}

.modal-sub{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: #00000091;
}

.card{
    border: 1px solid #fff;
}

#container-detaque{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    // border: 1px solid red;
    
    img{
        width: 50%;
    }
}
.protudo{
    width: 20%;
    cursor: pointer;
    position: relative;
    padding:30px 10px;
    display: inline-block; 
    margin: 3px;
    .container-img{
        height: 230px;
        
        img{
            object-fit: contain;
            width: 100%;
            height: 228px;
        }
    }
    .descricao{
        margin-top: 10px;
        font-size: 17px;
        font-weight: 700;
        color: #57595e;
        font-family: Arial, Helvetica, sans-serif;
    }
    .preco{
        font-family: 'Poppins-Black', sans-serif;
        font-size: 20px;
        // font-weight: 700;
        color: $color-primary;
    }
    .container-avaliacao{
        img{
            width: 16px;
            margin-right: 5px;
        }
    }
    .tipo-pagamento{
        font-family: 'Poppins-Regular';
        color: #7F858D;
        font-size: 14px;
    }
    .favor{
        position: absolute;
        width: 50px;
        right: 10px;
        bottom: 0;
        transform: translateX(-10px) translateY(-35px);
    }
    
}

#departamentos{
    display: flex;
    justify-content: center;
    align-items: center;
    .card{
        margin: 0 10px;
        float: left;
        width: 10%;
        height: 100px;
    }

    .card:nth-child(1){
        margin-left: 0;
    }
    
    .card:nth-child(4){
        margin-right: 0;
    }
}