<div class="container" *ngIf="showLoading">
    <div class="row mt-5 titulo-departamento">
        <div class="card">
            <p class="placeholder-glow">
                <span class="placeholder col-12 kl1"></span>
            </p>
        </div>
    </div>

    <div class="row mt-2  departamento-produto">
        <div class="col d-flex" style="padding: 0;">
            <div class="card card-produto">
                <p class="placeholder-glow">
                    <span class="placeholder col-12" style="border-radius: 5px; height: 200px;"></span>
                </p>
                <div class="placeholder-glow">
                    <span class="placeholder col-8" style="border-radius: 5px;"></span>
                </div>
                <div class="placeholder-glow">
                    <span class="placeholder col-10" style="border-radius: 5px;"></span>
                </div>
            </div>
            <div class="card card-produto">
                <p class="placeholder-glow">
                    <span class="placeholder col-12" style="border-radius: 5px; height: 200px;"></span>
                </p>
                <div class="placeholder-glow">
                    <span class="placeholder col-8" style="border-radius: 5px;"></span>
                </div>
                <div class="placeholder-glow">
                    <span class="placeholder col-10" style="border-radius: 5px;"></span>
                </div>
            </div>
            <div class="card card-produto">
                <p class="placeholder-glow">
                    <span class="placeholder col-12" style="border-radius: 5px; height: 200px;"></span>
                </p>
                <div class="placeholder-glow">
                    <span class="placeholder col-8" style="border-radius: 5px;"></span>
                </div>
                <div class="placeholder-glow">
                    <span class="placeholder col-10" style="border-radius: 5px;"></span>
                </div>
            </div>
            <div class="card card-produto">
                <p class="placeholder-glow">
                    <span class="placeholder col-12" style="border-radius: 5px; height: 200px;"></span>
                </p>
                <div class="placeholder-glow">
                    <span class="placeholder col-8" style="border-radius: 5px;"></span>
                </div>
                <div class="placeholder-glow">
                    <span class="placeholder col-10" style="border-radius: 5px;"></span>
                </div>
            </div>
            <div class="card card-produto">
                <p class="placeholder-glow">
                    <span class="placeholder col-12" style="border-radius: 5px; height: 200px;"></span>
                </p>
                <div class="placeholder-glow">
                    <span class="placeholder col-8" style="border-radius: 5px;"></span>
                </div>
                <div class="placeholder-glow">
                    <span class="placeholder col-10" style="border-radius: 5px;"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 titulo-departamento">
        <div class="card">
            <p class="placeholder-glow">
                <span class="placeholder col-12 kl1"></span>
            </p>
        </div>
    </div>

    <div class="row mt-2  departamento-produto">
        <div class="col d-flex" style="padding: 0;">
            <div class="card card-produto">
                <p class="placeholder-glow">
                    <span class="placeholder col-12" style="border-radius: 5px; height: 200px;"></span>
                </p>
                <div class="placeholder-glow">
                    <span class="placeholder col-8" style="border-radius: 5px;"></span>
                </div>
                <div class="placeholder-glow">
                    <span class="placeholder col-10" style="border-radius: 5px;"></span>
                </div>
            </div>
            <div class="card card-produto">
                <p class="placeholder-glow">
                    <span class="placeholder col-12" style="border-radius: 5px; height: 200px;"></span>
                </p>
                <div class="placeholder-glow">
                    <span class="placeholder col-8" style="border-radius: 5px;"></span>
                </div>
                <div class="placeholder-glow">
                    <span class="placeholder col-10" style="border-radius: 5px;"></span>
                </div>
            </div>
            <div class="card card-produto">
                <p class="placeholder-glow">
                    <span class="placeholder col-12" style="border-radius: 5px; height: 200px;"></span>
                </p>
                <div class="placeholder-glow">
                    <span class="placeholder col-8" style="border-radius: 5px;"></span>
                </div>
                <div class="placeholder-glow">
                    <span class="placeholder col-10" style="border-radius: 5px;"></span>
                </div>
            </div>
            <div class="card card-produto">
                <p class="placeholder-glow">
                    <span class="placeholder col-12" style="border-radius: 5px; height: 200px;"></span>
                </p>
                <div class="placeholder-glow">
                    <span class="placeholder col-8" style="border-radius: 5px;"></span>
                </div>
                <div class="placeholder-glow">
                    <span class="placeholder col-10" style="border-radius: 5px;"></span>
                </div>
            </div>
            <div class="card card-produto">
                <p class="placeholder-glow">
                    <span class="placeholder col-12" style="border-radius: 5px; height: 200px;"></span>
                </p>
                <div class="placeholder-glow">
                    <span class="placeholder col-8" style="border-radius: 5px;"></span>
                </div>
                <div class="placeholder-glow">
                    <span class="placeholder col-10" style="border-radius: 5px;"></span>
                </div>
            </div>
        </div>
    </div>

</div>