
@import 'variavel.scss';
.container-produto{
    display: flex;
}
.protudo{
    width: 20%;
    cursor: pointer;
    position: relative;
    padding:10px 10px 20px 10px;
    display: inline-block; 
    margin: 3px;
    .container-img{
        height: 230px;
        
    }
    .descricao{
        margin-top: 10px;
        font-size: 17px;
        font-weight: 700;
        color: #57595e;
        font-family: Arial, Helvetica, sans-serif;
    }
    .preco{
        font-family: 'Roboto-Medium';
        font-size: 20px;
        // font-weight: 400;
        color: $color-second;
    }
    .container-avaliacao{
        img{
            width: 16px;
            margin-right: 5px;
        }
    }
    .tipo-pagamento{
        font-family: 'Poppins-Regular';
        color: #7F858D;
        font-size: 14px;
    }
    .tipo-parcelado{
        font-family: 'Poppins-Regular';
        color: #7F858D;
        font-size: 12px;
    }
    .favor{
        position: absolute;
        width: 50px;
        right: 10px;
        bottom: 0;
        transform: translateX(-10px) translateY(-35px);
    }
    
}